In [1]:
%reload_ext autoreload
%autoreload 2

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame()
df.index.name = "epoch"
df

Empty DataFrame
Columns: []
Index: []

In [22]:
a = [(1, 10), (2, 20), (3, 30)]
a1 = pd.DataFrame(a, columns=['iter', 'a']).set_index('iter')
b = [(1, 12), (2, 22), (3, 33)]
b1 = pd.DataFrame(b, columns=['iter', 'b']).set_index('iter')

In [25]:
# z = pd.DataFrame()
pd.concat(( a1, b1))

         a     b
iter
1     10.0   NaN
2     20.0   NaN
3     30.0   NaN
1      NaN  12.0
2      NaN  22.0
3      NaN  33.0

In [19]:
z

Empty DataFrame
Columns: []
Index: []